<table border ="1" bgcolor="AliceBlue">
  <tr bgcolor="black">
    <td colspan="2"><div><%= link_to "Sign Out",:controller => "users", :action => "login"%></div><center><font color="white"><b>USER ORDER FORM</b></font></center></td>
  </tr>
  <tr>
  <td>User Id</td>
  <td><%= f.text_field :f.text_field :user_id %></td>
</tr>
<tr>
  <td>Order Id</td>
  <td><%= f.text_field :f.text_field :order_id %></td>
</tr>
<tr>
  <td>Product Id</td>
 <td><%= f.text_field :f.text_field :product_id %></td>
</tr>
<tr>
  <td>Quantity</td>
 <td><%= f.text_field :f.text_field :quantiy %></td>
</tr>
    <tr bgcolor="black">
      <td colspan="2">
        <center> <%= f.submit "Save" %>
  <%= f.submit("Reset", {:name => 'reset' ,:type => "reset" }) %></center>
      </td>
    </tr>
</table>
