<body bgcolor="black">
<center>
   <%= stylesheet_link_tag "applyme" %>
  <br />
  <font size= "5px" color="white"><%= "Dear!" %> </font> <font color="yellow"><b><%= "User" %></b></font>  <font size= "4px" color="white"><%= "Please Verify Your Order Details..." %></font>
  <br />
  <br />
  <br />
  <table border="1" bgcolor="AliceBlue">
    <tr bgcolor="black">
      <td colspan="3"><font color="white"><b><center>USERS ORDERS INFORMATION</center></b></font></td>
    </tr>
    <tr>
      <td>Order Number</td>
      <td><%= @order.order_number %></td>
    </tr>
    <tr>
      <td>User Id</td>
      <td><%= @order.user_id %></td>
    </tr>
    <tr>
      <td>Shipping Address</td>
      <td><%= @order.shipping_address %></td>
    </tr>
    <tr>
      <td>Billing Address</td>
      <td><%= @order.billing_address %></td>
    </tr>
    <tr bgcolor="black">
      <td colspan="2" class="rightalign">
        <div class="left-align"><%= link_to "Orders List", :action => "index" %></div>
       <%= link_to "Edit", edit_order_path(@order) %>
      </td>
    </tr>
  </table>
</center>
</body>